# Database
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/postgres
 
# App
APP_NAME=Shape API
APP_VERSION=1.0.0
ENVIRONMENT=development
DEBUG=true
PORT=8000
 
# Security
SECRET_KEY=make-a-strong-secret-key    
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRES_IN_MINUTES=60
 
# CORS
CORS_ORIGINS=[http://localhost:3000, http://localhost:8000]
 
# Logging
LOG_LEVEL=INFO